<h2 mat-dialog-title>Schmerz / Wund Dokumentation</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Beschreibung</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      placeholder="Faustgroße Schwellung"
      [(ngModel)]="indicator.description"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent"
          (click)="onOkClicked()">
    Ok
  </button>
</mat-dialog-actions>
