@import "src/variables";

.header-bar {
  background-color: mat-color($paradox-primary, 400);
  color: white;
  padding-top: 3px;

  .title{
    padding-left: 0.5em;
    font-size: 25px;
  }

  p {
    margin: 0;
  }
  span {
    margin-top: 4px;
    margin-right: 15px;
    text-transform: uppercase;
  }
}

.tab-label{
  color:white;
  font-weight: normal;
}

.small{
  margin-right: 10px;
  font-size: 18px;
}

.activeSite {
  color: #DDDDDD;
}

.mat-toolbar-row{
  height: 3em;
}

#headerNav {
  a {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
  }


}
