<!-- Header -->
<mat-toolbar class="header-bar mat-elevation-z4">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <a mat-icon-button routerLink="/">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </a>
      <img src="/assets/icons/logo.svg" width="65" height="65" alt="ParaDox Logo"/><a></a>
      <p class="title">paraDox</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" >
      <span class="small">Einsatz:</span>
      <p>{{patientName}}</p>
    </div>
    <div class="small">{{startTime | date : "hh:mm"}} - {{endTime ? (endTime | date: "hh:mm") : 'now' }}</div>
  </mat-toolbar-row>

  <!-- Tab -->
  <mat-toolbar-row>
    <nav mat-tab-nav-bar mat-align-tabs="center" id="headerNav" style="width:100%">
      <a *ngFor="let l of links;"
         mat-tab-link
         (click)="activeLink = l"
         [active]="activeLink == l"
         [routerLink]="l.link">{{l.name}}</a>
    </nav>
  </mat-toolbar-row>

</mat-toolbar>
