<div id="oo-content" fxLayout="column">
  <div fxFlex="10%" fxFlexAlign="center" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <img src="../../../assets/logo.svg" width="150">
      <h1>paraDox</h1>
  </div>

  <div class="operation-list" fxFlex="40%" fxLayout="column">
    <h2>Abgeschlossene Einsätze</h2>
    <div class="white-box" fxFlex>
      <pdx-operation-list [operations]="doneOperations"></pdx-operation-list>
    </div>
  </div>

  <div class="operation-list" fxFlex="40%" fxLayout="column">
    <h2>Laufende Einsätze</h2>
    <div class="white-box" fxFlex>
      <pdx-operation-list [operations]="ongoingOperations"></pdx-operation-list>
    </div>
  </div>

  <div fxFlex="0 0 10%" fxLayout="column">
    <div class="button-box2" fxFlexAlign="center">
      <button mat-raised-button color="accent" (click)="createNewOperation()">
        <mat-icon style="margin-top: -3px">add</mat-icon>
        Neuer Einsatz
      </button>
    </div>

    <div id="white-triangle" fxLayout="row">
      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="100,0 100,100 0,100" style="fill:white;" />
      </svg>
      <div id="white-filler" fxFlex="1 0 auto"></div>
      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="0,0 100,100 0,100" style="fill:white;" />
      </svg>
    </div>
  </div>
</div>
