@import "src/variables";

#oo-content {

  padding: 5% 12% 0% 12%;
  background-color: map-get($paradox-primary, 400);
  height: 100vh;
  width: 100%;

  .operation-list {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  h1 {
    font-family: 'Open Sans Hebrew', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 4.5em;
  }

  h2 {
    font-family: 'Open Sans Hebrew', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2.5em;
  }

  .white-box {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    min-height: 0;
  }

  .button-box2 {
    display: inline-block;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin-bottom: -2px;
  }

  #white-triangle {
    min-height: 0;

    #white-filler {
      width: 171px;
      background-color: white;
      margin-right: -1px;
      margin-left: -1px;
    }
  }

}
