<pdx-paradox-card [contentTemplate]="circulatoryAssessment"
                  [srcPath]="'/assets/icons/heart-rate.svg'"
                  [title]="'Kreislauf'"
                  [showStartMargin]="false"
                  [showEndMargin]="true"
                  fxFlex></pdx-paradox-card>

<ng-template #circulatoryAssessment>
  <div fxLayout="row">
    <div fxFlex fxLayout="column" class="content-column">
      <mat-checkbox value="starke Blutung" [(ngModel)]="circulatoryExamination.strongBleeding">
        <mat-label>starke Blutung</mat-label>
      </mat-checkbox>
      <mat-checkbox value="Arrhythmie" [(ngModel)]="circulatoryExamination.arrhythmia">
        <mat-label>Arrhythmie</mat-label>
      </mat-checkbox>
      <mat-checkbox value="(drohender) Schockzustand" [(ngModel)]="circulatoryExamination.shock">
        <mat-label>(drohender) Schockzustand</mat-label>
      </mat-checkbox>
      <mat-checkbox value="Atem-/Kreislaufstillstand" [(ngModel)]="circulatoryExamination.cardiacArrest">
        <mat-label>Atem-/Kreislaufstillstand</mat-label>
      </mat-checkbox>
    </div>
    <div fxFlex fxLayout="column" class="content-column">
      <mat-checkbox value="Verbrennung/Erfrierung/Verätzung" #hideOrShow [(ngModel)]="circulatoryExamination.burning">
        <mat-label>Verbrennung/Erfierung/Verätzung</mat-label>
      </mat-checkbox>
      <div fxLayout="row" style="padding-top: 1em" *ngIf=hideOrShow.checked>
        <mat-form-field appearance="fill" class="content-row" style="width: 9em">
          <mat-label>1.Grades [%]</mat-label>
          <input matInput placeholder="%"
                 type="number"
                 [(ngModel)]="circulatoryExamination.burningFirstDegree"/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="content-row" style="width: 9em">
          <mat-label>2.Grades [%]</mat-label>
          <input matInput placeholder="%"
                 type="number"
                 [(ngModel)]="circulatoryExamination.burningSecondDegree"/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="content-row" style="width: 9em">
          <mat-label>3.Grades [%]</mat-label>
          <input matInput placeholder="%"
                 type="number"
                 [(ngModel)]="circulatoryExamination.burningThirdDegree"/>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div style="padding-top: 3em">
    <h1 class="title" fxFlexAlign="center">Messwerte</h1>
    <div fxLayout="row" style="padding-top: 2em">
      <div fxFlex fxLayout="column" class="content-column">
        <mat-form-field appearance="fill">
          <mat-label>HF 1.Messung</mat-label>
          <input matInput
                 type="number"
                 [(ngModel)]="circulatoryExamination.heartRate1"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>RR 1.Messung</mat-label>
          <input matInput
                 [(ngModel)]="circulatoryExamination.bloodPressure1"/>
        </mat-form-field>
      </div>
      <div fxFlex fxLayout="column" class="content-column">
        <mat-form-field appearance="fill">
          <mat-label>HF 2.Messung</mat-label>
          <input matInput
                 type="number"
                 [(ngModel)]="circulatoryExamination.heartRate2"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>RR 2.Messung</mat-label>
          <input matInput
                 [(ngModel)]="circulatoryExamination.bloodPressure2"/>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-template>
