@import "src/variables";
@import "src/styles";

#oo-content {

  background-color: map-get($paradox-primary, 300);
  height: 100vh;
  width: 100%;

  h1 {
    font-family: 'Open Sans Hebrew', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 3em;
  }

  .text {
    font-family: 'Open Sans Hebrew', sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 1.25px;
    line-height: 30px;
    font-size: 22px;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
  }

  .name {
    line-height: 100px;
    font-size: 40px;
    font-weight: bold;
  }
  .input {
    text-align: center;
  }


}
