<div id="oo-content" fxLayout="column">
  <!--logo&title -->
  <div fxFlex="20%"
       fxLayoutAlign="center center"
       fxLayoutGap="1.5em">
    <img src="../../../../assets/logo.svg" width="120">
    <h1>paraDox</h1>
  </div>
  <ng-container *ngIf="isReady; else notReady">
    <div class="text" fxLayout="column" fxFlex="50%" fxLayoutAlign="center">
      Bitte erfassen Sie im Folgenden die Daten zum Rettungseinsatz:
      <a class="name">{{this.operationsService.getActOperation().basicInfo.personalInfo.name}}</a>
      Um fortzufahren geben Sie die Sozialversicherungsnummer des Patienten ein:
    </div>
    <!--input-field: social insurance-->
    <div fxFlex="10%">
      <mat-form-field class="input" color="primary" appearance="fill" fxLayoutAlign="center">
        <mat-label>Sozialversicherungsnummer</mat-label>
        <input matInput placeholder="xxxxTTMMYYYY" #svnrCheck/>
      </mat-form-field>
    </div>
    <div fxFlexAlign="center" fxFlex="20%">
      <button class="button-blue" mat-flat-button (click)="checkSvnr(svnrCheck.value)">
        DATEN ERFASSEN
      </button>
    </div>
  </ng-container>
  <ng-template #notReady>
    <div class="text">Bitte warten...</div>
  </ng-template>

</div>
