@import "src/variables";
@import "src/styles";

.header-bar{
  background-color: mat-color($paradox-primary, 400);
  color: white;

  .text_align{
    padding-left: 2em;
    padding-right: 2em;
    font-size: 26px;
    font-weight: bold;
  }
}

.info_text{
  color: mat-color($paradox-primary,400);
  text-align: end;
  padding-right: 1em;
  padding-top: 0.3em;
}
