<mat-toolbar class="header-bar mat-elevation-z4" >
  <div fxLayoutAlign="start center">
    <div fxLayoutAlign="start center">
    <img src="/assets/icons/logo.svg" width="60" height="60" alt="ParaDox Logo"/>
      <a class="text_align">paraDox</a>
    </div>
  </div>
</mat-toolbar>
<div class="info_text">
  <a>Einsatz: <a style="font-weight: bold">{{this.operationService.getActOperation().basicInfo.personalInfo.name}}</a></a>
</div>
