<pdx-paradox-card [contentTemplate]="patientPositionContent"
                  [srcPath]="'/assets/icons/patient.svg'"
                  [title]="'Patienten-/Lagebeurteilung'"
                  [showStartMargin]="true"
                  fxFlex></pdx-paradox-card>

<ng-template #patientPositionContent>
  <div fxLayout="row">
    <div fxFlex fxLayout="column" class="content-column">
      <mat-form-field appearance="fill">
        <mat-label>Bewusstseinslage</mat-label>
        <mat-select required [(ngModel)]="patientPosition.consciousness">
          <mat-option>Eingabe löschen</mat-option>
          <mat-option value="orientiert">orientiert</mat-option>
          <mat-option value="getrübt">getrübt/desorientiert</mat-option>
          <mat-option value="Erregungszustand">Erregungszustand</mat-option>
          <mat-option value="bewusstlos">Ohne Bewusstsein</mat-option>
          <mat-option value="Todeszeichen">sichere Todeszeichen</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Gefahrenzone</mat-label>
        <input required matInput placeholder="CO-Alarm" [(ngModel)]="patientPosition.dangers"/>
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="column" class="content-column">
      <mat-form-field appearance="fill">
        <mat-label>vorgefundene Lage</mat-label>
        <mat-select required [(ngModel)]="patientPosition.foundPosition">
          <mat-option>Eingabe löschen</mat-option>
          <mat-option value="gehend/stehend">gehend/stehend</mat-option>
          <mat-option value="sitzend">sitzend</mat-option>
          <mat-option value="liegend">liegend</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</ng-template>
