<pdx-foreign-anamnesis-summary-card
  *ngIf="isForeignAnamnesisFinished(); else buttons" fxFlex></pdx-foreign-anamnesis-summary-card>

<ng-template #buttons>
  <pdx-foreign-anamnesis-card fxFlex></pdx-foreign-anamnesis-card>
</ng-template>
