<pdx-paradox-card [contentTemplate]="personalDataContent"
                  [srcPath]="'/assets/icons/person-silhouette.svg'"
                  [title]="'Personendaten'"
                  [showStartMargin]="true"
                  fxFlex></pdx-paradox-card>

<ng-template #personalDataContent>
  <div fxLayout="row">
    <div fxFlex fxLayout="column" class="content-column">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input required matInput placeholder="Max Mustermann" [(ngModel)]="actOperation.basicInfo.personalInfo.name"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Telefonnummer</mat-label>
        <input matInput placeholder="0664/12345678" [(ngModel)]="actOperation.basicInfo.personalInfo.telnr"/>
      </mat-form-field>

      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field appearance="fill">
          <mat-label>Straße</mat-label>
          <input required matInput placeholder="Beispielstraße"
                 [(ngModel)]="actOperation.basicInfo.personalInfo.address.street"/>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="30%">
          <mat-label>Hausnr.</mat-label>
          <input required matInput placeholder="2b"
                 [(ngModel)]="actOperation.basicInfo.personalInfo.address.housenr"/>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Postleitzahl</mat-label>
        <input required matInput placeholder="1010"
               [(ngModel)]="actOperation.basicInfo.personalInfo.address.postalcode"/>
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="column" class="content-column">
      <mat-form-field appearance="fill">
        <mat-label>Sozialversicherungsnummer</mat-label>
        <input required matInput placeholder="xxxxTTMMYY" [(ngModel)]="actOperation.basicInfo.personalInfo.svnr"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sozialversicherungsträger</mat-label>
        <mat-select required [(ngModel)]="actOperation.basicInfo.personalInfo.svCarrier">
          <mat-option>Eingabe löschen</mat-option>
          <mat-option value="ÖGK">ÖGK</mat-option>
          <mat-option value="BVAEB">BVAEB</mat-option>
          <mat-option value="SVS">SVS</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Ort</mat-label>
        <input required matInput placeholder="Wien" [(ngModel)]="actOperation.basicInfo.personalInfo.address.city"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Staat</mat-label>
        <input required matInput value="Österreich" [(ngModel)]="actOperation.basicInfo.personalInfo.address.country"/>
      </mat-form-field>
    </div>
  </div>
</ng-template>
