@import "src/variables";

.summary-heading {
  font-weight: bold;
  left: 0;
  font-size: 14pt;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.summary {
  width: 80%;
  min-width: 30rem;
  color: map-get($paradox-primary, 700);
}
.blue {
  background-color: map-get($paradox-primary, 100);
}
.summary-row {
  padding-left: 1rem;
  padding-right: 1rem;
}
.summary-picture {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
