<pdx-paradox-card [contentTemplate]="foreignAnamnesisSummary"
                  [srcPath]="'/assets/icons/person-silhouette.svg'"
                  [title]="'Zusammenfassung Fremdanamnese'"
                  [showStartMargin]="true"
                  fxFlex></pdx-paradox-card>

<ng-template #foreignAnamnesisSummary>
  <div class="summary" fxFlex="40%" fxLayout="column">
    <div fxFlex fxLayout="row" class="summary-heading">Kontaktperson:</div>

    <div class="summary-row blue" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>Name:</div>
      <div>{{anamnesis.contactInfoAuthor.name}}</div>
    </div>
    <div class="summary-row" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>Verhältnis zum Patient:</div>
      <div>{{anamnesis.contactInfoAuthor.relation}}</div>
    </div>
    <div class="summary-row blue" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>Telefonnummer:</div>
      <div>{{anamnesis.contactInfoAuthor.telnr}}</div>
    </div>
    <div class="summary-row" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>Kontakt bei stat. Aufnahme:</div>
      <img *ngIf="anamnesis.contactInfoAuthor.stationary; else cross" width="16px" src="assets/icons/check.svg"/>
      <ng-template #cross>
        <div>x</div>
      </ng-template>
    </div>

    <div class="summary-row blue" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>Kontakt bei Entlassung:</div>
      <img *ngIf="anamnesis.contactInfoAuthor.released; else cross" width="16px" src="assets/icons/check.svg"/>
      <ng-template #cross>
        <div>x</div>
      </ng-template>
    </div>

    <ng-container *ngFor="let person of anamnesis.contacts; index as i">
      <div fxFlex fxLayout="row" class="summary-heading">Weitere Kontaktperson {{i + 1}}:</div>

      <div class="summary-row blue" fxFlex fxLayout="row" fxLayoutAlign="space-between">
        <div>Name:</div>
        <div>{{person.name}}</div>
      </div>
      <div class="summary-row" fxFlex fxLayout="row" fxLayoutAlign="space-between">
        <div>Verhältnis zum Patient:</div>
        <div>{{person.relation}}</div>
      </div>
      <div class="summary-row blue" fxFlex fxLayout="row" fxLayoutAlign="space-between">
        <div>Telefonnummer:</div>
        <div>{{person.telnr}}</div>
      </div>
      <div class="summary-row" fxFlex fxLayout="row" fxLayoutAlign="space-between">
        <div>Kontakt bei stat. Aufnahme:</div>
        <img *ngIf="person.stationary; else cross" width="16px" src="assets/icons/check.svg"/>
        <ng-template #cross>
          <div>x</div>
        </ng-template>
      </div>

      <div class="summary-row blue" fxFlex fxLayout="row" fxLayoutAlign="space-between">
        <div>Kontakt bei Entlassung:</div>
        <img *ngIf="person.released; else cross" width="16px" src="assets/icons/check.svg"/>
        <ng-template #cross>
          <div>x</div>
        </ng-template>
      </div>
    </ng-container>

    <div fxFlex fxLayout="row" class="summary-heading">Medizinische Versorgung:</div>
    <div class="summary-row blue" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>Hausarzt:</div>
      <div>{{anamnesis.medicalInfoPatient.doctor}}</div>
    </div>
    <div class="summary-row" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>Sonderkl.-Versicherung:</div>
      <div>{{anamnesis.medicalInfoPatient.specialInsuranceName}}</div>
    </div>
    <div class="summary-row blue" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>Sonderkl.-Polizzennr.:</div>
      <div>{{anamnesis.medicalInfoPatient.specialInsurancePolicy}}</div>
    </div>

    <div fxFlex fxLayout="row" class="summary-heading">Fotos:</div>
    <div class="summary-row blue" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>Patientenverfügung:</div>
      <img *ngIf="hasPictureInfo(anamnesis.decreePicture)" class="summary-picture"
           [src]="toPictureUrl(anamnesis.decreePicture)" width="100px"/>
    </div>
    <div class="summary-row" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>Medikamentenliste:</div>
      <img *ngIf="hasPictureInfo(anamnesis.medsPicture)" class="summary-picture"
           [src]="toPictureUrl(anamnesis.medsPicture)" width="100px"/>
    </div>

    <div fxFlex fxLayout="row" class="summary-heading">Sonstige Informationen:</div>
    <div class="summary-row blue" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>Foto:</div>
      <img *ngIf="hasPictureInfo(anamnesis.otherPicture)" class="summary-picture"
           [src]="toPictureUrl(anamnesis.otherPicture)" width="100px"/>
    </div>
    <div class="summary-row" fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>Text:</div>
      <div>{{anamnesis.otherText}}</div>
    </div>
  </div>
</ng-template>
