@import "src/variables";
@import "src/styles";

.check{
  padding-top: 1.5em;
  transform: scale(1.1);
  padding-left: 1em;
}
.label_text{
  white-space: initial;
  font-size: 12px;
}
.delete{
  background-color: darkred;
  text-align: center;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 2em;
  margin-top: 3em;
}
.save{
  background-color: mat-color($paradox-primary, 700);
  text-align: center;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 3em;
}
