<pdx-phone-header></pdx-phone-header>
<div  fxLayout="column">
  <div *ngIf="!!actContact" fxFlex class="content-column" fxLayout="column">
    <a>Bitte geben Sie Informationen über die Kontaktperson an:</a><br>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input required matInput placeholder="Maria Maurer" [(ngModel)]="actContact.name"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Verhältnis zum Patienten</mat-label>
      <input required matInput placeholder="Ehegattin" [(ngModel)]="actContact.relation"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Telefonnummer</mat-label>
      <input required matInput placeholder="+43 664 6857134" [(ngModel)]="actContact.telnr"/>
    </mat-form-field>
    <mat-checkbox class="check" value="stationary contact" [(ngModel)]="actContact.stationary">
      <mat-label class="label_text">Ich möchte bei <a style="font-weight: bold"> stationärer Aufnahme</a>
        telefonisch kontaktiert werden</mat-label>
    </mat-checkbox>
    <mat-checkbox class="check" value="stationary contact" [(ngModel)]="actContact.released">
      <mat-label class="label_text">Ich möchte bei <a style="font-weight: bold">Entlassung</a>
        telefonisch kontaktiert werden</mat-label>
    </mat-checkbox>
    <div fxLayout="row">
      <a class="save" fxFlex mat-raised-button (click)="saveData()">Speichern</a>
    </div>
  </div>
</div>
