<pdx-phone-header></pdx-phone-header>
<div fxLayout="column" class="content-column">
  <div fxFlex="85%" fxLayout="column">
    <div fxFlex fxLayout="column">
      <a>Bitte geben Sie Informationen über sich selbst an:</a><br>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input required matInput placeholder="Maria Maurer" [(ngModel)]="actAnamnesis.contactInfoAuthor.name"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Verhältnis zum Patienten</mat-label>
        <input required matInput placeholder="Ehegattin" [(ngModel)]="actAnamnesis.contactInfoAuthor.relation"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Telefonnummer</mat-label>
        <input required matInput placeholder="+43 664 6857134" [(ngModel)]="actAnamnesis.contactInfoAuthor.telnr"/>
      </mat-form-field>
      <mat-checkbox class="check" value="stationary contact" [(ngModel)]="actAnamnesis.contactInfoAuthor.stationary">
        <mat-label class="label_text">Ich möchte bei <a style="font-weight: bold"> stationärer Aufnahme</a>
          telefonisch kontaktiert werden
        </mat-label>
      </mat-checkbox>
      <mat-checkbox class="check" value="stationary contact" [(ngModel)]="actAnamnesis.contactInfoAuthor.released">
        <mat-label class="label_text">Ich möchte bei <a style="font-weight: bold">Entlassung</a>
          telefonisch kontaktiert werden
        </mat-label>
      </mat-checkbox>
    </div>

  </div>
  <div fxFlexAlign="center" fxFlex="15%">
    <button class="button-blue" mat-flat-button
            (click)="saveData()">
      NÄCHSTE SEITE
    </button>
  </div>
</div>
