<div class="quick-scroll-container" fxLayout="column" fxLayoutAlign="start end">

  <div *ngIf=!isFinished class="quick-scroll-button save-button first"
       fxLayout="row"
       fxLayoutAlign="center center"
       (click)="onFinishClicked()">
    <img src="assets/icons/check.svg"/>
  </div>

  <div *ngFor="let q of quickScrollDestinations; let first = first; let last = last"
       class="quick-scroll-button"
       [class.first] = "first && isFinished"
       [class.last] = "last && isFinished"
       [class.active]="q.active"
       [class.important]="q.important"
       (click)="onScrollButtonClicked(q)"
       fxLayout="row" fxLayoutAlign="center center">
    <img [src]="q.iconPath"/>
  </div>

  <div *ngFor="let a of sideBarActions; let first = first; let last = last"
       class="quick-scroll-button"
       [class.first] = "first && isFinished"
       [class.last] = "last && isFinished"
       (click)="a.callback()"
       fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>{{a.matIcon}}</mat-icon>
  </div>

  <div class="quick-scroll-button save-button last"
       fxLayout="row"
       fxLayoutAlign="center center"
       *ngIf="!isFinished"
       [class.first]="quickScrollDestinations.length === 0"
       (click)="onSaveBtnClicked()">
    <mat-icon>save</mat-icon>
  </div>
</div>
