@import "src/variables";

:host {
  position: fixed;
}

.quick-scroll-container {
  position: fixed;
  width: 80px;
  height: calc(100vh - 100px);
  top: 100px;
  right: max(0px, (100% - 1200px) / 2);
  padding-top: 80px;
  pointer-events: none;

  .quick-scroll-button {
    z-index: 1;
    width: 60px;
    height: 60px;
    background: map-get($paradox-accent, 200);
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    border-bottom: 2px solid rgba(255,255,255,0.8);
    cursor: pointer;
    pointer-events: auto;

    img {
      filter: invert(100%) sepia(6%) saturate(7500%) hue-rotate(187deg) brightness(102%) contrast(110%);
      width: 45px;
    }
    mat-icon {
      filter: invert(100%) sepia(6%) saturate(7500%) hue-rotate(187deg) brightness(102%) contrast(110%);
      font-size: 45px;
      width: 45px;
      height: 45px;
    }
  }

  .quick-scroll-button.hidden {
    height: 0;
    overflow: hidden;
    border-bottom: 0;
  }

  .quick-scroll-button.save-button {
    background: $paradox-green;
  }

  .quick-scroll-button.important {
    background: map-get($paradox-warn, 500);
  }

  .quick-scroll-button:hover {
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25)) brightness(110%);
  }

  .first {
    border-top-left-radius: 5px;
  }

  .last {
    border-bottom-left-radius: 5px;
    border-bottom: 0;
  }

  .active {
    z-index: 100;
    background: map-get($paradox-accent, 300);
    border-radius: 5px 0 0 5px;
    height: 65px;
    width: 65px;
  }


}
