<pdx-phone-header></pdx-phone-header>
<div class="content-column" fxLayout="column">
  <div fxFlex="85%" fxLayout="column">
    <mat-list fxFlex>
      <mat-list-item *ngFor="let c of contacts">
        <a *ngIf="!!c.name; else elseBlock" matLine>{{c.name}}</a>
        <ng-template #elseBlock>
          <a matLine>Kontaktdaten einfügen ...</a>
        </ng-template>
        <button mat-icon-button>
          <mat-icon [routerLink]="['/phone-other-data', c.id]">edit</mat-icon>
        </button>
        <button class="buttonD" mat-icon-button (click)="onDeleteContact(c.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
    </mat-list>
    <div fxFlexAlign="start" fxFlex>
      <button mat-flat-button class="button-orange" (click)="onAddContact()" [disabled]="contacts?.length >= 3">
        <mat-icon class="button-mat-icon">add</mat-icon>
        Kontaktperson hinzufügen
      </button>
    </div>
  </div>

  <div fxFlexAlign="center" fxFlex="15%">
    <button class="button-blue" routerLink="/phone-further-medical-data" mat-flat-button>
      NÄCHSTE SEITE
    </button>
  </div>
</div>
