<pdx-paradox-card [contentTemplate]="foreignAnamnesis"
                  [srcPath]="'/assets/icons/patient.svg'"
                  [title]="'Fremdanamnese'"
                  [showStartMargin]="true"
                  fxFlex></pdx-paradox-card>

<ng-template #foreignAnamnesis>
  <div fxLayout="row" gdAlignRows="center">
    <div fxLayout="column" class="content-column">
      <button *ngIf="hasForeignAnamnesis(); else createForeignAnamnesis" class="foreign-anamnesis-button"
              mat-raised-button color="accent" (click)="onOpenForeignAnamnesis()">
        Fremdanamnese öffnen
      </button>
      <ng-template #createForeignAnamnesis>
        <button class="foreign-anamnesis-button" mat-raised-button color="accent" (click)="onCreateForeignAnamnesis()">
          Fremdanamnese anzeigen
        </button>
      </ng-template>
      <br>
      <br>
      <button class="foreign-anamnesis-button" mat-raised-button color="accent" (click)="createQrCode()">
        <mat-icon>visibility</mat-icon>
        QR-Code anzeigen
      </button>
      <qrcode *ngIf="qrCodeContent" [qrdata]="qrCodeContent" [width]="256" [errorCorrectionLevel]="'M'"
              [elementType]="'svg'"></qrcode>
    </div>
  </div>
</ng-template>
