@import "src/variables";

.card-component {
  background-color: white;
  height: auto;
}

.triangle-bottom-left {
  display: flex;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 0 15px;
  border-color: transparent transparent transparent map-get($paradox-primary, 100);
}

.triangle-critical-style {
  border-color: transparent transparent transparent map-get($paradox-warn, 500);
}

.border-bar {
  background-color: map-get($paradox-primary, 100);
}

.title {
  margin: 0 30px 0 30px;
}

.square {
  width: 3.8rem;
  height: 3.8rem;
  background-color: map-get($paradox-primary, 100);
  border-bottom-right-radius: 10px
}

.filter-white {
  filter: invert(100%) sepia(6%) saturate(7500%) hue-rotate(187deg) brightness(102%) contrast(110%);
  width: 3.1rem;
}

.content-container{
  padding-left: 2rem;
  padding-right: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 19px;
}

.critical-style {
  background-color: map-get($paradox-warn, 500);
}
