<div class="card-component" fxLayout="column" fxFlex>
  <svg class="border-bar" *ngIf="showStartMargin" [ngClass]="criticalStyle ? 'critical-style': ''" fxFlex="15px"/>
  <div fxLayout="row" fxFlex>

    <svg class="border-bar" [ngClass]="criticalStyle ? 'critical-style': ''" fxFlex="15px"/>
    <div fxFlex fxLayout="column" fxLayoutAlign="space-between">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlexAlign="start" class="square" [ngClass]="criticalStyle ? 'critical-style': ''" >
          <img class="filter-white" [src]="srcPath">
        </div>
        <h1 class="title" fxFlexAlign="center">{{title}}</h1>
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      </div>
      <div [class.content-container]="contentPadding" fxFlex fxLayout="column">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </div>
      <div class="triangle-bottom-left" [ngClass]="criticalStyle ? 'triangle-critical-style': ''" ></div>
    </div>
  </div>


  <svg *ngIf="showEndMargin" class="border-bar" [ngClass]="criticalStyle ? 'critical-style': ''" fxFlex="15px"/>
</div>


