<pdx-paradox-card [contentTemplate]="respirationAssessment"
                  [srcPath]="'/assets/icons/breathing.svg'"
                  [title]="'Atemwege, Atmung'"
                  [showStartMargin]="false"
                  fxFlex></pdx-paradox-card>

<ng-template #respirationAssessment>
  <div fxLayout="row">
    <div fxFlex fxLayout="column" class="content-column">
      <mat-checkbox value="unauffällig" [(ngModel)]="respiratoryExaminationDTO.normalBreathing">
        <mat-label>unauffällig</mat-label>
      </mat-checkbox>
      <mat-checkbox value="Atembeschwerden/Zyanose" [(ngModel)]="respiratoryExaminationDTO.dyspnoea">
        <mat-label>Atembeschwerden/Zyanose</mat-label>
      </mat-checkbox>
      <mat-checkbox value="Atemwegsverlegung" [(ngModel)]="respiratoryExaminationDTO.constipation">
        <mat-label>Atemwegsverlegung</mat-label>
      </mat-checkbox>
      <mat-checkbox value="abnorme Atemgeräusche" [(ngModel)]="respiratoryExaminationDTO.abnormalSounds">
        <mat-label>abnorme Atemgeräusche</mat-label>
      </mat-checkbox>
    </div>
    <div fxFlex fxLayout="column" class="content-column">
      <mat-checkbox value="asymmetrische Brustkorbbewegung"
                    [(ngModel)]="respiratoryExaminationDTO.asymmetricalMovements">
        <mat-label>asymmetrische Brustkorbbewegung</mat-label>
      </mat-checkbox>
      <mat-checkbox value="keine (normale) Atmung" [(ngModel)]="respiratoryExaminationDTO.abnormalBreathing">
        <mat-label>keine (normale) Atmung</mat-label>
      </mat-checkbox>
      <mat-checkbox value="Hyperventilation" [(ngModel)]="respiratoryExaminationDTO.hyperventilation">
        <mat-label>Hyperventilation</mat-label>
      </mat-checkbox>
    </div>
  </div>

  <div style="padding-top: 3em">
    <h1 class="title" fxFlexAlign="center">Messungen</h1>
    <div fxLayout="row" style="padding-top: 2em">
      <div fxFlex fxLayout="column" class="content-column">
        <mat-form-field appearance="fill">
          <mat-label>AF-1.Messung</mat-label>
          <input matInput
                 type="number"
                 [(ngModel)]="respiratoryExaminationDTO.breathingFrequency1"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>SP02-1.Messung</mat-label>
          <input matInput
                 type="number"
                 [(ngModel)]="respiratoryExaminationDTO.oxygenSaturation1"/>
        </mat-form-field>
      </div>
      <div fxFlex fxLayout="column" class="content-column">
        <mat-form-field appearance="fill">
          <mat-label>AF-2.Messung</mat-label>
          <input matInput
                 type="number"
                 [(ngModel)]="respiratoryExaminationDTO.breathingFrequency2"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>SP02-2.Messung</mat-label>
          <input matInput
                 type="number"
                 [(ngModel)]="respiratoryExaminationDTO.oxygenSaturation2"/>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-template>

