@import "src/variables";
@import "src/styles";

.photo_button{
  width: 15em;
  background-color: map-get($md-paradoxorange, 600);
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.button
{
  background-color: map-get($paradox-primary, 700);
  align-self: center;
  text-align: center;
  color: white;
  width: 15em;
  margin-top: 4em;
  padding-top:0.5em;
  padding-bottom: 0.5em;
}

.icon{
  padding-right: 0.5em;
}

img {
  max-height: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

.container2{
  width: 100%;
  height: 100%;
  padding: 0 1em 1em;

}
.container:hover .overlay {
  opacity: 1;
}
