<pdx-phone-header></pdx-phone-header>
<div class="content-column" fxLayout="column">
  <div fxFlex fxLayout="column" fxFlex="85%">
    <a fxFlex="10%">Falls eine <a style="font-weight: bold">Patientenverfügung</a> existiert, können Sie diese
      hier fotografieren und hier als Bild beifügen:</a>
    <div fxFlex="15%" fxLayout="row" fxLayoutAlign="space-between">
      <button mat-flat-button class="button-orange" (click)="onOpenPic('fileInputPatientDecree')">
        <mat-icon class="button-mat-icon">add_a_photo</mat-icon>
        Foto aufnehmen
        <input type="file" hidden id="fileInputPatientDecree" [name]="'Patientenverfügung auswählen'"
               (change)="onImageSelected($event, 2)" accept=".jpg,.jpeg,.png" required/>
      </button>
      <button fxFlex="20%" fxFlexAlign="center" mat-icon-button (click)="clearPicture(2)">
        <mat-icon>delete</mat-icon>
      </button>

    </div>
    <div fxFlex="25%" fxFlexAlign="center" class="container2">
      <img *ngIf=showDecreePic src="{{pictureURL(2)}}" alt="Patientenverfügung"/>
    </div>
    <a fxFlex="10%">Falls Sie dem Rettungsdienst keine <a style="font-weight: bold">Medikamentenliste</a> mitgegeben
      haben, können Sie diese hier fotografieren und als Bild beifügen:</a>

    <div fxFlex="15%" fxLayout="row" fxLayoutAlign="space-between">
      <button mat-flat-button class="button-orange" (click)="onOpenPic('fileInputMedList')">
        <mat-icon class="button-mat-icon">add_a_photo</mat-icon>
        Foto aufnehmen
        <input type="file" hidden id="fileInputMedList" [name]="'Medikamentenliste auswählen'"
               (change)="onImageSelected($event, 1)" accept=".jpg,.jpeg,.png" required/>

      </button>
      <button fxFlex="20%" fxFlexAlign="center" mat-icon-button (click)="clearPicture(1)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div fxFlex="25%" fxFlexAlign="center" class="container2">
      <img *ngIf=showMedPic src="{{pictureURL(1)}}" alt="Patientenverfügung"/>
      <!--      <img src="http://i.stack.imgur.com/xkF9Q.jpg"/>-->
    </div>

  </div>
  <div fxFlexAlign="center" fxFlex="15%">
    <button class="button-blue" routerLink="/phone-other-pictures" mat-flat-button (click)="save()">
      NÄCHSTE SEITE
    </button>
  </div>
</div>
