
<pdx-patient-position-assessment-card #patientPositionAssessment></pdx-patient-position-assessment-card>
<pdx-respiration-assessment-card #respirationAssessment></pdx-respiration-assessment-card>
<pdx-circulatory-assessment-card #circulatoryAssessment></pdx-circulatory-assessment-card>
<pdx-patient-critical-card #patientCritical></pdx-patient-critical-card>
<pdx-neurological-assessment-card #neurologicalAssessment></pdx-neurological-assessment-card>
<pdx-further-assessment-card #furtherAssessment></pdx-further-assessment-card>

<pdx-quick-scroll-sidebar [quickScrollDestinations]="quickScrollDestinations"></pdx-quick-scroll-sidebar>
