<pdx-paradox-card [contentTemplate]="neurologicalAssessment"
                  [srcPath]="'/assets/icons/brain.svg'"
                  [title]="'Neurologie'"
                  [showStartMargin]="true"
                  fxFlex></pdx-paradox-card>

<ng-template #neurologicalAssessment>
  <div fxLayout="row">
    <div fxFlex fxLayout="column" class="content-column">
      <mat-checkbox value="Krampfgeschehen" [(ngModel)]="neurologicalExamination.cramp">
        <mat-label>Krampfgeschehen</mat-label>
      </mat-checkbox>
      <mat-checkbox value="Sprachstörung" [(ngModel)]="neurologicalExamination.speakingDisorder">
        <mat-label>Sprachstörung</mat-label>
      </mat-checkbox>
      <mat-form-field class="paradox-select" appearance="fill">
        <mat-label>Schmerzbeurteilung</mat-label>
        <mat-select [(ngModel)]="neurologicalExamination.painEstimate">
          <mat-option>Eingabe löschen</mat-option>
          <mat-option value="schwach">schwach</mat-option>
          <mat-option value="mittel">mittel</mat-option>
          <mat-option value="stark">stark</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div fxFlex fxLayout="column" class="content-column">
      <div fxFlex fxLayout="column" class="pupil-column">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
          <div></div>
          <div>Pupillenreaktion</div>
          <div></div>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
          <div>L</div>
          <div></div>
          <div>R</div>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
          <mat-checkbox value="pupilSmallLeft" [(ngModel)]="neurologicalExamination.pupilReaction.pupilSmallLeft">
          </mat-checkbox>
          <div>eng <img src="assets/pupils/pupil_small.svg" width="30" alt="Kleine Pupille"/></div>
          <mat-checkbox value="pupilSmallRight" [(ngModel)]="neurologicalExamination.pupilReaction.pupilSmallRight">
          </mat-checkbox>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
          <mat-checkbox value="pupilMediumLeft" [(ngModel)]="neurologicalExamination.pupilReaction.pupilMediumLeft">
          </mat-checkbox>
          <div>mittel <img src="assets/pupils/pupil_medium.svg" width="30" alt="Mittlere Pupille"/></div>
          <mat-checkbox value="pupilMediumRight" [(ngModel)]="neurologicalExamination.pupilReaction.pupilMediumRight">
          </mat-checkbox>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
          <mat-checkbox value="pupilLargeLeft" [(ngModel)]="neurologicalExamination.pupilReaction.pupilLargeLeft">
          </mat-checkbox>
          <div>weit <img src="assets/pupils/pupil_large.svg" width="30" alt="Weite Pupille"/></div>
          <mat-checkbox value="pupilLargeRight" [(ngModel)]="neurologicalExamination.pupilReaction.pupilLargeRight">
          </mat-checkbox>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
          <mat-checkbox value="pupilLightUnresponsiveLeft"
                        [(ngModel)]="neurologicalExamination.pupilReaction.pupilLightUnresponsiveLeft">
          </mat-checkbox>
          <div>lichtstarr</div>
          <mat-checkbox value="pupilLightUnresponsiveRight"
                        [(ngModel)]="neurologicalExamination.pupilReaction.pupilLightUnresponsiveRight">
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>

  <div class="measurement-section">
    <h1 class="title" fxFlexAlign="center">Messwerte</h1>
    <div fxLayout="row" style="padding-top: 2em">
      <div fxFlex fxLayout="column" class="content-column">
        <mat-form-field appearance="fill">
          <mat-label>BZ 1. Messung</mat-label>
          <input matInput
                 type="number"
                 [(ngModel)]="neurologicalExamination.bloodSugar1"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>°C 1. Messung</mat-label>
          <input matInput
                 type="number"
                 [(ngModel)]="neurologicalExamination.temp1"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Zeitpunkt 1. Messung</mat-label>
          <input matInput [(ngModel)]="neurologicalExamination.measurementTime1"/>
        </mat-form-field>
      </div>
      <div fxFlex fxLayout="column" class="content-column">
        <mat-form-field appearance="fill">
          <mat-label>BZ 2. Messung</mat-label>
          <input matInput
                 type="number"
                 [(ngModel)]="neurologicalExamination.bloodSugar2"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>°C 2. Messung</mat-label>
          <input matInput
                 type="number"
                 [(ngModel)]="neurologicalExamination.temp2"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Zeitpunkt 2. Messung</mat-label>
          <input matInput [(ngModel)]="neurologicalExamination.measurementTime2"/>
        </mat-form-field>
      </div>
    </div>
  </div>
</ng-template>
