.paradox-select {
  margin-top: 1rem;
}
.content-column {
  padding-left: 2em;
  padding-right: 2em;
}
.content-row {
  padding-left: 1em;
}
.title {
  margin: 0 0 0 56px;
}
.pupil-column {
  width: 50%;
  min-width: 200px;
  margin: auto;
}
.formbox-section {
  padding-top: 2rem;
}
