<pdx-paradox-card [contentTemplate]="transportDataContent"
                  [srcPath]="'/assets/icons/transport.svg'"
                  [title]="'Transportdaten'"
                  [showStartMargin]="false"
                  fxFlex></pdx-paradox-card>

<ng-template #transportDataContent>
  <div fxLayout="row">
    <div fxFlex fxLayout="column" class="content-column">
      <mat-form-field appearance="fill">
        <mat-label>Beginnzeit</mat-label>
        <input required matInput placeholder="09:30" [(ngModel)]="actOperation.basicInfo.transportInfo.starttime"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>KM Anfang</mat-label>
        <input required matInput placeholder="143542"
               type="number"
               [(ngModel)]="actOperation.basicInfo.transportInfo.kmstart"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Abholort</mat-label>
        <input required matInput placeholder="Dorfstraße 23b, 2340 Mödling"
               [(ngModel)]="actOperation.basicInfo.transportInfo.pickoff"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Verdachtsdiagnose</mat-label>
        <input required matInput placeholder="Exikkose"
               [(ngModel)]="actOperation.basicInfo.transportInfo.suspectedDiagnosis"/>
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="column" class="content-column">
      <mat-form-field appearance="fill">
        <mat-label>Endzeit</mat-label>
        <input required matInput placeholder="10:30" [(ngModel)]="actOperation.basicInfo.transportInfo.endtime"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>KM Ende</mat-label>
        <input required matInput placeholder="143583"
               type="number"
               [(ngModel)]="actOperation.basicInfo.transportInfo.kmend"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Zielort</mat-label>
        <input required matInput placeholder="KH Baden" [(ngModel)]="actOperation.basicInfo.transportInfo.destination"/>
      </mat-form-field>
    </div>
  </div>
</ng-template>
