<pdx-paradox-card [contentTemplate]="painLocalisationContent"
                  [headerTemplate]="painLocalisationHeader"
                  [srcPath]="'/assets/icons/patient.svg'"
                  [title]="'Schmerzlokalisation'"
                  [showStartMargin]="true"
                  [contentPadding]="false"
                  fxFlex></pdx-paradox-card>

<ng-template #painLocalisationContent>
  <div id="canvas-container" (resized)="onCanvasContainerResized($event)">
    <ko-stage #stage [config]="configStage">
      <ko-layer #bgLayer></ko-layer>
      <ko-layer #drawLayer></ko-layer>
      <ko-layer #transformLayer></ko-layer>
    </ko-stage>
  </div>
</ng-template>


<ng-template #painLocalisationHeader>
</ng-template>

<pdx-quick-scroll-sidebar [quickScrollDestinations]="[]" [sideBarActions]="sideBarActions"></pdx-quick-scroll-sidebar>
