<pdx-phone-header></pdx-phone-header>
<div fxLayout="column" class="content-column">
  <div fxFlex fxLayout="column" fxFlex="85%">
    <a>Hier können Sie weitere wichtige Informationen zur medizinischen Versorgung des Patienten
      fotografieren und beifügen:</a>
    <div fxLayoutAlign="space-between" fxFlex="15%">
      <button mat-flat-button class="button-orange" (click)="onOpenPic('fileInputImage')">
        <mat-icon class="button-mat-icon">add_a_photo</mat-icon>
        Foto aufnehmen
        <input type="file" hidden id="fileInputImage" [name]="'Foto auswählen'"
               (change)="onImageSelected($event, 1)" accept=".jpg,.jpeg,.png" required/>
      </button>
      <button fxFlex="20%" fxFlexAlign="center" mat-icon-button (click)="clearPicture(1)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div fxFlex="30%" fxFlexAlign="center" class="container2">
      <img *ngIf=showOtherPic src="{{pictureURL(1)}}" alt="Sonstige Informationen"/>
    </div>
    <br>
    <mat-form-field>
      <textarea class="textfield" [(ngModel)]="anamnesis.otherText" matInput
                placeholder="Sonstige Informationen:"></textarea>
    </mat-form-field>

  </div>
  <div fxFlexAlign="center" fxFlex="15%">
    <button class="button-blue" mat-flat-button (click)="completeAnamnesis()">
      ABSCHLUSS
    </button>
  </div>
</div>
