@import "src/variables";

.critical-radio {
  font-size: 1.5em;
  margin-right: 2rem;
}

.critical {
  color: mat-color($paradox-warn, 400);
  font-weight: bold;
}

.apply_margin{
  padding-top: 2rem;
  padding-bottom: 4.5rem;
}
