<pdx-paradox-card [contentTemplate]="patientCriticalContent"
                  [srcPath]="'/assets/icons/emergency-kit.svg'"
                  [title]="'Notarztindikation'"
                  [criticalStyle]="true"
                  [showStartMargin]="true"
                  fxFlex></pdx-paradox-card>

<ng-template #patientCriticalContent>
  <mat-radio-group class="apply_margin" aria-label="Notarztindikation" fxLayout="row" fxLayoutAlign="center"
                   [(ngModel)]="actOperation.examination.patientCritical">
    <mat-radio-button class="critical-radio" [value]="false">Patient nicht kritisch
    </mat-radio-button>
    <mat-radio-button class="critical-radio critical" [color]="'warn'" [value]="true">Patient KRITISCH
    </mat-radio-button>
  </mat-radio-group>
</ng-template>
