<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <p>{{data.content}}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent"
          (click)="onYesClicked()">
    Ja
  </button>
  <button mat-raised-button color="accent"
          (click)="onNoClicked()">
    Nein
  </button>
</mat-dialog-actions>
