<pdx-phone-header></pdx-phone-header>
<div fxFlex fxLayout="column">
  <div fxFlex="85%" fxLayout="column">
    <div class="content-column" fxLayout="column">
      <a>Weitere Informationen über die medizinische Versorgung
        des Patienten, falls vorhanden:</a><br>
      <mat-form-field appearance="fill">
        <mat-label>Hausarzt</mat-label>
        <input matInput placeholder="Dr.Schmerzpulverl" [(ngModel)]="actAnamnesis.medicalInfoPatient.doctor"/>
      </mat-form-field>
      <div class="blank"></div>
      <mat-form-field appearance="fill">
        <mat-label>Sonderklasse-Versicherung</mat-label>
        <input matInput placeholder="Uniqum AG" [(ngModel)]="actAnamnesis.medicalInfoPatient.specialInsuranceName"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Sonderklasse-Polizzennummer</mat-label>
        <input matInput placeholder="Pl-31415" [(ngModel)]="actAnamnesis.medicalInfoPatient.specialInsurancePolicy"/>
      </mat-form-field>
    </div>
  </div>
  <div fxFlexAlign="center" fxFlex="15%">
    <button class="button-blue" routerLink="/phone-medical-pictures" mat-flat-button>
      NÄCHSTE SEITE
    </button>
  </div>
</div>

