@import '~@angular/material/theming';

$md-paradoxblue: (
  50 : #F4FBFF,
  100 : #B7DAED,
  200 : #98BED5,
  300 : #76A2BD,
  400 : #5C8DAA,
  500 : #407A98,
  600 : #336B87,
  700 : #245771,
  800 : #16445B,
  900 : #003043,
  A100 : #a7d9ff,
  A200 : #74c3ff,
  A400 : #41adff,
  A700 : #27a2ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-paradoxorange: (
  50 : #F9EAE6,
  100 : #F9CFB9,
  200 : #F6B18C,
  300 : #F2945D,
  400 : #EF7E37,
  500 : #ED6B02,
  600 : #E26500,
  700 : #D55E00,
  800 : #C85600,
  900 : #B04900,
  A100 : #ffffff,
  A200 : #ffddd4,
  A400 : #ffb4a1,
  A700 : #ffa088,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-paradoxwarn: (
  50 : #f9eef0,
  100 : #f0d4d9,
  200 : #e6b7c0,
  300 : #db9aa6,
  400 : #d48593,
  500 : #cc6f80,
  600 : #c76778,
  700 : #c05c6d,
  800 : #b95263,
  900 : #ad4050,
  A100 : #ffffff,
  A200 : #ffcdd4,
  A400 : #ff9aa8,
  A700 : #ff8092,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/*$paradox-green: #62e84d;*/
$paradox-green: #4FCE71;

/* ======== Angular material custom themes ======== */
$paradox-primary: mat-palette($md-paradoxblue, 500, 200, 600);
$paradox-accent: mat-palette($md-paradoxorange, 400, 200, 700);
$paradox-warn: mat-palette($md-paradoxwarn);

$paradox-theme: mat-light-theme(
    $paradox-primary,
    $paradox-accent,
    $paradox-warn
);

$paradox-typography: mat-typography-config(
  $font-family: 'Open Sans, sans-serif'
);

$paradox-background: #f6f8f9;
