@import '~@angular/material/theming';
@import '_variables.scss';

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: $paradox-background;
}

html, body { height: 100%; }
.timepicker-overlay {
  z-index: 1100 !important;
}

.container {
  //width: 70%;
  height: 100%;
  margin: auto;
}

.timepicker-backdrop-overlay {
  z-index: 1100 !important;
}

.clickable {
  cursor: pointer;
}

// Override Material settings for better readability
.mat-form-field.mat-form-field.mat-form-field.mat-form-field.mat-form-field.mat-form-field.mat-form-field {
  width: 100%;
}
.mat-form-field-flex.mat-form-field-flex.mat-form-field-flex {
  background-color: mat-color($paradox-primary, 50);
  color: #000000;
}
.mat-form-field-label.mat-form-field-label.mat-form-field-label {
  color: #000000;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: white !important;
}
.mat-tab-nav-bar, .mat-tab-header {
  border-bottom: none !important;
}

.apply_flex {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.button-blue{
  display: inline-block;
  background-color: map-get($paradox-primary, 700);
  color:white;
  padding: 0.3rem 2.4rem;
}
.button-orange{
  display: inline-block;
  background-color: map-get($paradox-accent, 500);
  color:white;
  padding: 0.2rem 1.2rem;
  margin: 1rem 0rem;
}
.content-column{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  height: 100%;
}





