<pdx-paradox-card [contentTemplate]="furtherAssessment"
                  [srcPath]="'/assets/icons/stethoscope.svg'"
                  [title]="'Erweiterte Untersuchung'"
                  [showStartMargin]="false"
                  fxFlex></pdx-paradox-card>

<ng-template #furtherAssessment>
  <div fxLayout="row">
    <div fxFlex fxLayout="column" class="content-column">
      <mat-form-field *ngFor="let allergy of furtherExamination.allergies; index as i; trackBy: trackByIndex" appearance="fill">
        <mat-label>Allergie {{i}}</mat-label>
        <input matInput [(ngModel)]="furtherExamination.allergies[i]"/>
        <mat-icon *ngIf="i === furtherExamination.allergies.length - 1 && furtherExamination.allergies.length > 1"
                  (click)="onRemoveAllergy()" matSuffix>
          clear
        </mat-icon>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onAddAllergy()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div fxFlex fxLayout="column" class="content-column">
      <mat-form-field *ngFor="let medicament of furtherExamination.meds; index as i; trackBy: trackByIndex" appearance="fill">
        <mat-label>Medikament {{i}}</mat-label>
        <input matInput [(ngModel)]="furtherExamination.meds[i]"/>
        <mat-icon *ngIf="i === furtherExamination.meds.length - 1 && furtherExamination.meds.length > 1"
                  (click)="onRemoveMedicament()" matSuffix>clear
        </mat-icon>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onAddMedicament()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="formbox-section">
    <div fxFlex fxLayout="column" class="content-column">
      <mat-form-field class="" appearance="fill">
        <mat-label>Patientengeschichte / Vorerkrankungen</mat-label>
        <textarea autosize matInput [(ngModel)]="furtherExamination.patientHistory"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Letzte orale Aufnahme / Ereignisse vor dem Geschehen / Risikofaktoren</mat-label>
        <textarea autosize matInput [(ngModel)]="furtherExamination.beforeTheEvent"></textarea>
      </mat-form-field>
    </div>
  </div>
</ng-template>
