
mat-action-list {
  padding: 0;
  overflow: auto;
  max-height: 100%;

  p {
    margin: 0;
  }

  #name {
    font-size: 18px;
  }

  #time {
    font-size: 16px;
  }

  .secondary-line {
    font-size: 32px;
    opacity: 60%;
  }

  .mat-list-icon {
    width: 56px;
    height: 56px;
    font-size: 56px;
  }

  mat-icon {
    color: green;
    margin: 0;
  }
}
