<mat-action-list>
  <button *ngFor="let o of operations" (click)="onClickOperation(o)" mat-list-item >
    <img *ngIf="o.state === operationState.INPROGRESS" matListIcon src="../../../assets/inprogress.svg">
    <mat-icon *ngIf="o.state === operationState.COMPLETED" matListIcon>check_circle</mat-icon>
    <div mat-line fxLayout="row" fxLayoutAlign="space-between center">
      <p id="name">{{o.basicInfo?.personalInfo?.name}}</p>
      <p id="time">{{o.start | date : "hh:mm"}} - {{o.end ? (o.end | date: "hh:mm") : 'now' }}</p>
    </div>
    <p mat-line class="secondary-line">{{o.basicInfo?.personalInfo?.address?.street}} {{o.basicInfo?.personalInfo?.address?.housenr}}</p>
    <p mat-line class="secondary-line">{{o.basicInfo?.personalInfo?.address?.postalcode}} {{o.basicInfo?.personalInfo?.address?.city}}</p>
  </button>
</mat-action-list>
